<div class="move">
	<h3 class="moveName">
		{{name}}
	</h3>
  <p class="power hidden">
    Power: {{power}}
  </p>
	<p class="pp hidden">
		PP: {{pp}}
	</p>
	<p class="accuracy hidden">
		Accuracy: {{accuracy}}
	</p>
	<p class="category hidden">
		Move Type: {{category}}
	</p>
</div>
